/* remove margin & padding */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.clickable {
  user-select: none;
  cursor: pointer;
}


.mybutton {
  padding: 5px;
  background-color:blueviolet;
  cursor: pointer;
  box-shadow: 2px 2px rgb(47, 50, 120);
}

#character-img {
  width: 500px;
  height: 500px;
}