/* width */
.width_100 {
  width: 100%;
}

.width_70 {
  width: 70%;
}

.width_30 {
  width: 30%;
}

.width_20px {
  width: 20px;
}

.width_100px {
  width: 100px;
}

.width_150px {
  width: 150px;
}

.width_500px {
  width: 500px;
}

/* height */
.height_50 {
  height: 50%;
}

.height_70 {
  height: 70%;
}

.height_100 {
  height: 100%;
}

.height_30 {
  height: 30%;
}

.height_100px {
  height: 100px;
}

.height_150px {
  height: 150px;
}

.height_300px {
  height: 300px;
}

/* padding */
.p_5px {
  padding: 5px;
}
.pt_5px {
  padding-top: 5px;
}
.pb_5px {
  padding-bottom: 5px;
}
.pl_5px {
  padding-left: 5px;
}
.pr_5px {
  padding-right: 5px;
}

.p_10px {
  padding: 10px;
}
.pt_10px {
  padding-top: 10px;
}
.pb_10px {
  padding-bottom: 10px;
}
.pl_10px {
  padding-left: 10px;
}
.pr_10px {
  padding-right: 10px;
}

/* margin */
.margin_auto {
  margin-bottom: auto;
}
.m_5px {
  margin: 5px;
}
.mt_5px {
  margin-top: 5px;
}
.mb_5px {
  margin-bottom: 5px;
}
.ml_5px {
  margin-left: 5px;
}
.mr_5px {
  margin-right: 5px;
}

.m_10px {
  margin: 10px;
}
.mt_10px {
  margin-top: 10px;
}
.mb_10px {
  margin-bottom: 10px;
}
.ml_10px {
  margin-left: 10px;
}
.mr_10px {
  margin-right: 10px;
}

.m_20px {
  margin: 20px;
}
.mt_20px {
  margin-top: 20px;
}
.mb_20px {
  margin-bottom: 20px;
}
.ml_20px {
  margin-left: 20px;
}
.mr_20px {
  margin-right: 20px;
}

.m_30px {
  margin: 30px;
}
.mt_30px {
  margin-top: 30px;
}
.mb_30px {
  margin-bottom: 30px;
}
.ml_30px {
  margin-left: 30px;
}
.mr_30px {
  margin-right: 30px;
}

.mt_40px {
  margin-top: 40px;
}


.mt_100px {
  margin-top: 100px;
}
