/* backgroudn colours */
.bg-marine_blue {
  background-color: #036f8c;
}

.bg-bright_pink {
  background-color: #ff0084;
}

/* text colours */
.text-white {
  color: white;
}

.mybutton {
  border-width: 2px;
  color: aqua;
}