/* sizes */
.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.height-full {
  height: 100%;
}

.height-500px {
  height: 500px;
}

.height-200px {
  height: 200px;
}

/* flex styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
